<h1>Listing attachments</h1>

<table>
  <tr>
    <th>Attachable</th>
    <th>Attachable type</th>
    <th>Type</th>
    <th>Size</th>
    <th>Width</th>
    <th>Height</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Parent</th>
    <th>Thumbnail</th>
  </tr>

<% for attachment in @attachments %>
  <tr>
    <td><%=h attachment.attachable_id %></td>
    <td><%=h attachment.attachable_type %></td>
    <td><%=h attachment.type %></td>
    <td><%=h attachment.size %></td>
    <td><%=h attachment.width %></td>
    <td><%=h attachment.height %></td>
    <td><%=h attachment.content_type %></td>
    <td><%=h attachment.filename %></td>
    <td><%=h attachment.parent_id %></td>
    <td><%=h attachment.thumbnail %></td>
    <td><%= link_to 'Show', attachment %></td>
    <td><%= link_to 'Edit', edit_attachment_path(attachment) %></td>
    <td><%= link_to 'Destroy', attachment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New attachment', new_attachment_path %>
