<%= image_tag primary_header.image_elements.named('Banner Image').public_filename %>
<div class="span-24 first last">&nbsp;</div>
<% nav_hash = setup_navigation %>
<div class="span-24 first last">
	<div class="span-4 first"><%= link_to 'Home', home_path, :class => nav_hash['Home'] %></div>
	<div class="span-4 "><%= link_to 'About', about_path, :class => nav_hash['About'] %></div>
	<div class="span-4 "><%= link_to 'Projects', projects_path, :class => nav_hash['Projects'] %></div>
	<div class="span-4 "><%= link_to 'Contact', contact_path, :class => nav_hash['Contact'] %></div>
</div>
<div class="span-24 first last">&nbsp;</div>
