<h1>Editing template_element</h1>

<% form_for(@template_element) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :template %><br />
    <%= f.text_field :template %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @template_element %> |
<%= link_to 'Back', template_elements_path %>
